@import "vars";
/**
Mostly styles to tweak the template to play friendly with the bootstrap grid.
 */
.ss-go-top, .s-header__social{
  width: auto;
}
.ss-go-top{
  a{
    &:hover{
      background-color: $color_blue;
      border-color: white;
    }
  }
}
.ss-copyright{
  font-family: monospace;
}