/** basic color definitions **/
$color_blue: #11b3e4;
$color_purple: #6357a3;
$color_green: #98fdc5;
$color_pink: #ebb5ff;
$color_blue_bold: #1121e4;

/** misc parameters **/
$bg_gradient_opacity: .25;
