/** basic color definitions **/
/** misc parameters **/
/** basic color definitions **/
/** misc parameters **/
/** basic color definitions **/
/** misc parameters **/
/** basic color definitions **/
/** misc parameters **/
/**
Mostly tweaks to the template
 */
.column p a {
  border-bottom: solid 2px #11b3e4;
  transition: 250ms all ease-in-out;
  color: #11b3e4;
}
.column p a:hover {
  transition: 250ms all ease-in-out;
  border-bottom: solid 2px #6357a3;
  color: #6357a3;
}

.headline {
  font-size: 54px;
  color: white;
  font-weight: bold;
  line-height: normal;
}

.leader {
  font-size: 38px;
  color: white;
  font-weight: bold;
  line-height: normal;
}

form input, form textarea {
  width: 100%;
}

#intro {
  background: #11b3e4;
  background: -moz-linear-gradient(270deg, rgba(99, 87, 163, 0.75) 0%, rgba(17, 179, 228, 0.75) 100%);
  background: -webkit-linear-gradient(270deg, rgba(99, 87, 163, 0.75) 0%, rgba(17, 179, 228, 0.75) 100%);
  background: linear-gradient(270deg, rgba(99, 87, 163, 0.75) 0%, rgba(17, 179, 228, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=transparentize($color_purple, $bg_gradient_opacity),endColorstr=transparentize($color_blue, $bg_gradient_opacity),GradientType=1);
}

.tab-nav__list li[data-tab-active] {
  background: #11b3e4;
  background: -moz-linear-gradient(270deg, rgba(99, 87, 163, 0.75) 0%, rgba(17, 179, 228, 0.75) 100%);
  background: -webkit-linear-gradient(270deg, rgba(99, 87, 163, 0.75) 0%, rgba(17, 179, 228, 0.75) 100%);
  background: linear-gradient(270deg, rgba(99, 87, 163, 0.75) 0%, rgba(17, 179, 228, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=transparentize($color_purple, $bg_gradient_opacity),endColorstr=transparentize($color_blue, $bg_gradient_opacity),GradientType=1);
  border-color: white;
}

.services-list__item-icon svg path {
  fill: #11b3e4;
}

#info {
  background: white;
}

#bgVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/** basic color definitions **/
/** misc parameters **/
/**
Mostly styles to tweak the template to play friendly with the bootstrap grid.
 */
.ss-go-top, .s-header__social {
  width: auto;
}

.ss-go-top a:hover {
  background-color: #11b3e4;
  border-color: white;
}

.ss-copyright {
  font-family: monospace;
}

.s-intro {
  height: unset !important;
}

/** basic color definitions **/
/** misc parameters **/
/**
Places icons after certain elements like e.g. social media links
 */
.icon {
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  width: 32px;
  height: 32px;
  display: inline-flex;
}
.icon.icon-twitter {
  background-image: url(/assets/svg/twitter-sq.svg);
}
.icon.icon-linkedin {
  background-image: url(/assets/svg/linkedin.svg);
}
.icon.icon-www {
  background-image: url(/assets/svg/www.svg);
}

/** basic color definitions **/
/** misc parameters **/
.team-members .team-member {
  margin-bottom: 4rem;
}
.team-members .team-member .name {
  font-size: 1.5em;
  margin: 0;
  padding: 1rem 0;
}
.team-members .team-member .headshot {
  display: flex;
  border-radius: 100%;
  overflow: hidden;
}
.team-members .team-member .headshot img {
  margin: 0;
}
.team-members .team-member .bio {
  font-size: 1em;
  margin: 0;
  padding: 1rem 0;
}
.team-members .team-member .role {
  font-weight: bold;
  font-family: monospace;
  background: -webkit-linear-gradient(42deg, #11b3e4, #6357a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team-members .team-member .social-profiles {
  display: flex;
}
.team-members .team-member .social-profiles a + a {
  margin-left: 4px;
}
.team-members .team-member .social-profiles .icon {
  filter: brightness(0%);
  opacity: 0.25;
}
.team-members .team-member .social-profiles .icon:hover {
  opacity: 0.5;
}
.team-members .team-member .social-profiles .icon path {
  fill: #6357a3;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

/*# sourceMappingURL=main.css.map */
